$font-family-headings: 'Acme', sans-seriff;
$font-family-default: 'Montserrat', sans-seriff;

$color-darkblue: #0998bf;
$color-lightblue: rgba(84, 187, 215, 0.28);
$color-opaquewhite: rgba(255,255,255,.8);
$color-opaquered: rgba(249,0,0, .5);
$color-opaquegreen: rgba(0,109,5, .5);
$color-lightgreen: #00ca09;
